body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: rgb(24, 24, 24);
}

h1 {
  font-size: 30px;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 30px;
  padding-top: 50px;
  color: #06ff00;
}

img {
  width: 100px;
}

.bottom-container {
  text-align: center;
  align-items: center;
  justify-content: center;

  font-size: larger;
  color: #ffffff;
}
