<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
    <title>My Website - About</title>
  </head>
  <body>
    <div class="top-container">
      <h1>Roschelle Matthews-Rhoden</h1>
      <img src="{{url_for('static',filename="images/meditate.svg")}}"/>
    </div>
    <div class="bottom-container">
      <p>
        I am a computer science student at UWI and I aspire to become a Web
        Developer. I love lawn tennis, badminton, swimming and <span>coding til the
        crack of dawn.<span/>
      </p>
    </div>
  </body>
</html>
